.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

text.active {
    fill: red;
}

.tiles {
    stroke: #FFF;
    stroke-width: 0.5px;
}

.tilesactive {
    stroke:red;
    stroke-width: 2px;

}

.tiles :hover {
    stroke:red;
    stroke-width: 3px;
}

.tileshover {

    stroke:red;
    stroke-width: 1.5px;

}

.tooltip{
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

text.active {
  fill: red;
  font-weight: 800;
}

.yAxis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.xAxis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}


.dot {
    stroke: #1f77b4;
    stroke-width: 1.5px;
    fill:none
}

.label {
    font-size: 10px;
}


text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.tick text {
    font-size: 12px;
}

.lm-line {
    stroke: #2980b9;
    stroke-width: 2px;
    stroke-dasharray: 10 10;
}

.line{
    fill:none;
    stroke: #1f77b4;
    stroke-width: 1.5px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.circle1 {
    fill: #30394F;
    stroke: #30394F;


}
.circle2 {
    fill: #6ACEEB;
    stroke:#6ACEEB;

}
.intersect {
    stroke: #0E6569;
    stroke-width: 2px;
    fill: #0E6569;

}
.graphtitle{
    fill: #2980b9;
    font-size: 14px;
}

.rightSide{
    margin-top: 110px;

}

#toggle
{
    margin-top: 20px;
}

#toggle span
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-right: 5px;
}

#about{
    margin: 0 0 0 80px;
}