.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

text.active {
    fill: red;
}

.tiles {
    stroke: #000;
    stroke-width: 0.5px;
}

text.active {
  fill: red;
}

.yAxis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.xAxis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
